@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_ProductDetail>
<style>
    .border-danger {
        border: 10px solid red; /* Đặt kích thước của border */
        box-sizing: border-box; /* Đảm bảo rằng border không làm thay đổi kích thước của phần tử */
    }

    #image-container {
        width: 100%; /* Kích thước của hình ảnh bằng kích thước của phần tử cha */
        height: auto; /* Đảm bảo tỷ lệ khung hình bị giữ nguyên */
    }

    .border-danger p {
        color: red;
    }



    #product {
        position: relative;
    }

        #product img {
        }

        #product #imgProducts {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }

        #product .details {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            box-sizing: border-box;
            transition: transform 0.3s ease;
        }

        #product:hover #imgProducts {
            transform: translateY(-100px);
        }

        #product:hover h5 {
            color: red;
        }
</style>


@if (ViewBag.txt != null)
{
    if (Model != null)
    {

        <div class="border border-danger  nen" style="background-color: #920101; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px ">
            <div class="best_sellers ">

                <img src="~/images/banner/Frame-2-1200x120.jpg" class="w-100 rounded-top" />
                <div class="container">
                    <div class="row">
                        @*<div class="col-1 "></div>*@
                        <div class="col-12 pl-1 pr-1 pb-3">
                            <div class="product_slider_container  ">
                                <div class="owl-carousel owl-theme product_slider">

                                    <!-- Slide 1 -->


                                    @foreach (var item in Model)
                                    {
                                        var img = "";
                                        var checkImg = item.tb_ProductDetailImage.FirstOrDefault(x => x.IsDefault);
                                        if (checkImg != null)
                                        {
                                            img = checkImg.Image;
                                        }



                                        @*<img src="~/images/background/Frame-knockout-desktop-226x500.jpg" class="h-100"/>*@

                                        <div class="owl-item product_slider_item bg-white  rounded" style="background-image: url('~/images/background/Frame-knockout-desktop-226x500.jpg'); ">
                                            <div class="product-item" id="product">
                                                <div class="product discount">
                                                    <div class="product_image mb-1">
                                                        <img src="@img" alt="@item.tb_Products.Title" id="imgProducts" class="pt-2">
                                                    </div>
                                                    <div class="favorite favorite_left"></div>
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a href="single.html">@item.tb_Products.Title</a></h6>
                                                        <div class="product_price text-danger">
                                                            <h5 class="text-danger">
                                                                @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.PriceSale)₫<span>@WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.Price)₫</span>
                                                            </h5>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    }

                                </div>

                                <!-- Slider Navigation -->

                                <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </div>
                                <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-1"></div>*@

                    </div>

                    <div class="row pb-2">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <a href="/ProductCategory/Detail/@ViewBag.ProductCatgory" class="btn btn-light w-100 h-100 text-center ">
                                <small>
                                    Xem thêm Điện Thoại
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-1 mb-1 bi bi-caret-right align-items-center" viewBox="0 0 16 16">
                                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                                    </svg>

                                </small>
                            </a>
                        </div>
                        <div class="col-4"></div>
                    </div>




                </div>
            </div>







        </div>
    }
    else
    {
        <p>Không có bảng ghi nào</p>
    }


}
else
{
    <p>Không có bảng ghi nào</p>
}

