
@model WebSite_CuaHangDienThoai.Models.Token.Admin.Admin_TokenProductCategory
@using (Ajax.BeginForm("Add", "ProductCategory", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin = "OnBeginCO"
}, new { @Id = "myForm" }))
{
    <script>

        function validateForm() {
            //var sdt = document.getElementById('Name').value.trim();
            //var tenKhachHang = document.getElementById('SDT').value.trim();
            //var email = document.getElementById('CCCD').value.trim();
            var OrigianlPrice = document.getElementById('OrigianlPrice').value.trim();
            var Price = document.getElementById('Price').value.trim();
            var confirmPassword = document.getElementById('Title').value.trim();


            if (!confirmPassword) {

                Swal.fire({
                    icon: "error",
                    title: "Lỗi tìm...",
                    text: "Vui lòng điền đầy đủ thông tin.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;

            }

            if (Price < OrigianlPrice) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi giá bán...",
                    text: "Giá bán không hợp lý.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;
            }


            if (password !== confirmPassword) {

                Swal.fire({
                    icon: "warning",
                    title: "Lỗi tìm...",
                    text: "Mật khẩu và xác nhận mật khẩu không khớp.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;
                return false;
            }



            return true;
        }


        function OnBeginCO() {
            $('#btnRegister').attr("disabled", "disabled");
        }



        function OnSuccessCO(res) {
            if (res.Success) {
                if (res.Code == 1) {


                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });

                    Toast.fire({
                        icon: "success",
                        title: "Thêm sản phẩm  thành công"
                    });
                    location.href = "/admin/Products/index";

                } else {
                }
            }
            else {
                if (res.Code == -2) {
                    Swal.fire({
                        icon: "error",
                        title: "Không thể bỏ trống...",
                        text: "Vui lòng điền tên tiêu đề",
                       /* footer: '<a href="#">Why do I have this issue?</a>'*/
                    });

                }
                if (res.Code == -3) {
                    Swal.fire({
                        icon: "warning",
                        title: "Danh mục đã tồn tại...",
                        text: "Tên đã tồn tại",
                        /*footer: '<a href="#">Bạn có muốn cập nhật lại số lượng?</a>'*/
                    });
                }
                if (res.Code == -4) {
                    Swal.fire({
                        icon: "question",
                        title: "Không tìm thấy ảnh...",
                        text: "Chọn ảnh đại diện ",
                      /*  footer: '<a href="#">Why do I have this issue?</a>'*/
                    });

                }
              
            }

        }







    </script>


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới danh mục sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    @using (Html.BeginForm("Add", "ProductCategory", FormMethod.Post, new { }))
                    {

                        <div class="card">
                            
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên sản phẩm</label>

                                            <input type="text" name="Title" id="Title" required class="form-control" autocomplete="off" placeholder="Tên sản phẩm" />
                                            @*@Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })*@
                                            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Ảnh</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(x => x.Image, new { @id = "txtImage", @class = "form-control" })
                                                </div>
                                                <div class="input-group-append">
                                                    <input type="button" value="Tải ảnh" onclick="BrowseServer('txtImage');" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">

                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "customCheckbox2" })
                                                        <label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                            </div>
                                            <div class="col-md-12">
                                                <table class="table table-hover" id="tbAnhSanPham">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Ảnh</th>
                                                            <th class="text-center">Ảnh đại diện</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHtml">
                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="tCurrentId" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane infor -->

                                   
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                            <div class="form-group">





                                @*<button type="submit" class="btn btn-success" data-id="">Thêm mới</button>*@
                                <button type="submit" class="btn btn-success">Thêm mới</button>
                            </div>
                        </div> <!-- /.card -->
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>






}